@tailwind base;
@tailwind components;
@tailwind utilities;

.topmenu .active {
  @apply text-gray-900;
}

.post-more {
  line-height: 1.55rem;
}

.posts-content {
  /* height: 100vh;
  overflow: hidden; */
  /* padding-top: 107px; */
}

.warp-text {
  min-height: 74.38px;
}

.bm-overlay {
  top: 0;
}